.PageHeadingTitle {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0;
  font-weight: 800;
  text-align: left;
  color: #5e0000;
  font-size: 36px;
}
