.NavigationLink {
  font-weight: 600;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  text-decoration: none;
  padding: 16px;
}

.link :focus,
.link:hover {
  color: #2196f3;
}
