.searchForm {
  text-align: center;
}
.searchInput {
  padding: 10px 15px;
  border-radius: 10px;
  border: 3px solid #2600ff;
  margin-right: 20px;
  font-size: 20px;
}

.searchInput:hover {
  background-color: #f4f8fa;
}

.searchButton {
  cursor: pointer;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 3px solid #2600ff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.searchButton:hover {
  background-color: #2600ff;
  color: white;
}
